/* Header */
.header {
    background-color: white;
    padding: 15px 75px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 60%;
    margin: 0 auto;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #6ba43a;
    text-decoration: none;
}

.categories-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.categories-btn i {
    font-size: 12px;
}

.search-container {
    flex: 1;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 12px 50px 12px 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
}

.search-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #2d3e50;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-actions {
    display: flex;
    gap: 100px;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    line-height: 1.3;
    cursor: pointer;
}

.header-link i {
    font-size: 22px;
}

.header-link .greeting {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

.header-link .action {
    font-size: 14px;
    font-weight: 600;
    color: #333;

}
.carousel-item img {
      height: 100vh;
      object-fit: cover;
      border-style: none;
    }
.cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #333;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

